<?xml version="1.0"?>
<!--
/**
 * EaDesign
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@eadesign.ro so we can send you a copy immediately.
 *
 * @category    eadesigndev_warehouses
 * @copyright   Copyright (c) 2008-2016 EaDesign by Eco Active S.R.L.
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference type="Eadesigndev\Warehouses\Model\Stock"
                for="Magento\CatalogInventory\Model\Stock"/>
    <preference type="Eadesigndev\Warehouses\Model\StockIndex"
                for="Magento\CatalogInventory\Model\StockIndex"/>

    <preference type="Eadesigndev\Warehouses\Model\Stock\Status"
                for="Magento\CatalogInventory\Model\Stock\Status"/>

    <preference type="Eadesigndev\Warehouses\Model\Stock\Item"
                for="Magento\CatalogInventory\Model\Stock\Item"/>

    <preference type="Eadesigndev\Warehouses\Model\ResourceModel\Stock"
                for="Magento\CatalogInventory\Model\ResourceModel\Stock"/>
    <preference type="Eadesigndev\Warehouses\Model\ResourceModel\Stock\Item"
                for="Magento\CatalogInventory\Model\ResourceModel\Stock\Item"/>
    <preference type="Eadesigndev\Warehouses\Model\ResourceModel\Stock\Status"
                for="Magento\CatalogInventory\Model\ResourceModel\Stock\Status"/>

    <preference type="Eadesigndev\Warehouses\Model\ResourceModel\Stock\Item\StockItemCriteria"
                for="Magento\CatalogInventory\Model\ResourceModel\Stock\Item\StockItemCriteria"/>
    <preference type="Eadesigndev\Warehouses\Model\ResourceModel\Stock\Item\StockItemCriteriaMapper"
                for="Magento\CatalogInventory\Model\ResourceModel\Stock\Item\StockItemCriteriaMapper"/>

    <preference type="Eadesigndev\Warehouses\Model\ResourceModel\Stock\Status\StockStatusCriteria"
                for="Magento\CatalogInventory\Model\ResourceModel\Stock\Status\StockStatusCriteria"/>
    <preference type="Eadesigndev\Warehouses\Model\ResourceModel\Stock\Status\StockStatusCriteriaMapper"
                for="Magento\CatalogInventory\Model\ResourceModel\Stock\Status\StockStatusCriteriaMapper"/>

    <preference type="Eadesigndev\Warehouses\Model\ResourceModel\Indexer\Stock\DefaultStock"
                for="Magento\CatalogInventory\Model\ResourceModel\Indexer\Stock\DefaultStock"/>

    <preference type="Eadesigndev\Warehouses\Model\Indexer\Stock"
                for="Magento\CatalogInventory\Model\Indexer\Stock"/>

    <type name="Magento\CatalogSearch\Model\Search\IndexBuilder">
        <plugin name="change_list_filter_table"
                type="Eadesigndev\Warehouses\Model\Plugin\CatalogSearch\IndexBuilder"
                sortOrder="10"
                disabled="false"/>
    </type>

    <preference for="Eadesigndev\Warehouses\Api\Data\ZoneInterface"
                type="Eadesigndev\Warehouses\Model\Stock" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="zones_data_source" xsi:type="string">ZoneCollection</item>
                <item name="items_data_source" xsi:type="string">ItemsCollection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="ZonesGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">ZoneCollection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ZonesGirdFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="ZonesEditDataProvider" type="Eadesigndev\Warehouses\Model\Stock\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">ZoneCollection</argument>
        </arguments>
    </virtualType>


    <virtualType name="ZoneCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">warehouseinventory_stock</argument>
            <argument name="resourceModel" xsi:type="string">Eadesigndev\Warehouses\Model\ResourceModel\StockResourceModifier</argument>
        </arguments>
    </virtualType>

    <virtualType name="ItemsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">ItemsCollection</argument>
        </arguments>
    </virtualType>

    <virtualType name="ItemsCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">warehouseinventory_stock_item</argument>
            <argument name="resourceModel" xsi:type="string">Eadesigndev\Warehouses\Model\ResourceModel\Stock\Item</argument>
        </arguments>
    </virtualType>

    <virtualType name="ItemsEditDataProvider" type="Eadesigndev\Warehouses\Model\Stock\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">ItemsCollection</argument>
        </arguments>
    </virtualType>

    <virtualType name="Eadesigndev\Warehouses\Ui\Component\Listing\Column\Store" type="Magento\Store\Ui\Component\Listing\Column\Store">
        <arguments>
            <argument name="storeKey" xsi:type="string">stock_id</argument>
        </arguments>
    </virtualType>

</config>
